@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-image: url(imagens/background-stars.jpg);
    width: 100vw;
    font-family: 'Covered By Your Grace', cursive;
}

header{
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;;
}

h1 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px white;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#portal{
    visibility: hidden;
    display: none;
}

#rickAndMorty{
    display: flex;
    justify-content: space-around;
    height: 152px;
    width: 100%;
}

#rick{
    width: 150px;
    height: 155px;
}

#morty{
    width: 150px;
    height: 160px;
}

#regras{
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(48,157,11);
    background: radial-gradient(circle, rgba(48,157,11,1) 37%, rgba(27,60,37,1) 87%);
    width: 85%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    color: white;
    margin-left: 25px;
    border-radius: 10px;
}


input {
    text-align: center;
    font-size: .8em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgba(27,60,37,1);
    color: white;
}

#jogar {
    font-family: 'Courier New', Courier, monospace;
    width: 220px;
    padding: 7px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

#board {
    margin: 40px 0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: bottom;
}

.column {
    height: 60vh;
    border: 2px solid transparent;
    border-image-source: linear-gradient(to top, green, rgba(255, 0, 0, 0));
    border-image-slice: 5;
    display: flex;
    flex-direction: column-reverse;
    width: 10vw;
}


.cell {
    width: 10vw;
    height: 7vh;
    /* border: 1px dashed blue; //retirar a borda assim que terminar de fazer a animação */
}

.rick {
    width: 100%;
    height: 100%;
    animation: move 1s ease-in-out;
    position: relative;
}

@keyframes move {
    from {
        top: -60vh;
    }
    to {
        top: 0;
    }
}

.rick img {
    width: 10vw;
    height: 5vh;
}

.morty {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: move 1s ease-in-out;
    position: relative;
}

.morty img {
    width: 10vw;
    height: 5vh;
}

.hide{
    display: none !important;
}

.boardHide {
    display: none !important;
}


#currentPlayer{
    text-align: center;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    color: white;
    padding: 10px;
    background: rgb(48,157,11);
    background: radial-gradient(circle, rgba(48,157,11,1) 37%, rgba(27,60,37,1) 87%);
}


@media(min-width: 500px){

    body {
        margin: 0;
        width: 99vw;
        font-family: 'Covered By Your Grace', cursive;
    }

    header{
        width: 100%;
        font-size: 2em;
    }

    main{
        width: 100%;
    }

    #inicial {
        display: flex;
        justify-content: space-evenly;
    }

    #portal {
        visibility: visible;
        display: contents;
    }

    #portal img{
        width: 40%;
    
    }

    #rickAndMorty{
        position: absolute;
        width: 20%;
        height: 40%;
        top: 23%;
        left: 18%;
    }

    #rickDiv{
        position: relative;
        animation-name: rick;
        animation-duration: 4s;
        animation-iteration-count: infinite
    }

    @keyframes rick {
        0%   { left:0px; top:0px;}
        25%  { left:0px; top:190px;}
        50%  { left:0px; top:0px;}
        75%  { left:0px; top:190px;}
        100% { left:0px; top:0px;}
    }

    #mortyDiv{
        position: relative;
        animation-name: morty;
        animation-duration: 4s;
        animation-iteration-count: infinite
    }

    @keyframes morty {
        0%   { left:0px; top:190px;}
        25%  { left:0px; top:0px;}
        50%  { left:0px; top:190px;}
        75%  { left:0px; top:0px;}
        100% { left:0px; top:190px;}
    }

    #rick{
        position: relative;
        width: 100px;
        height: 100px;
    }


    #morty{
        width: 100px;
        height: 100px;
        position: relative;
    }

    #regras{
        padding: 15px;
        color: white;
        margin-top: 7%;
        margin-right: 4%;
        background: rgb(48,157,11);
        background: radial-gradient(circle, rgba(48,157,11,1) 37%, rgba(27,60,37,1) 87%);
        height: 300px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
    }

    input {
        border-radius: 10px;
        border: none;
        background-color: rgba(27,60,37,1);
        text-align: center;
    }

    #jogar {
        margin-top: 10px;
        font-family: 'Courier New', Courier, monospace;
        width: 190px;
        padding: 8px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        border-radius: 10px;
        border: none;
    }

    #currentPlayer{
        margin-bottom: 5px;
        padding: 15px;
    }
    
    #board{
        height: 70vh;
        margin-bottom: 0px;
    }

    .column{
        width: 8vw;
        height: 70vh;
    }

    .cell {
        width: 100%;
        height: 100%;
    }

    .rick {
        width: 100%;
        
    }

    .rick img {
        margin-left: 15%;
        width: 70%;
        height: 100%;
    }

    .morty{
        width: 100%;
    }

    .morty img {
        margin-left: 15%;
        width: 70%;
        height: 100%;
    }

    .hide{
        display: none !important;
    }

    .boardHide {
        display: none !important;
    }
}